## This notebook will do statistics analysis based on our experiment using Pandas

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Noisy circle with different sizes

In [3]:
df1 = pd.read_csv('noisy_circle_2D_3D_change_std.csv') # not used for now

In [4]:
# sum over several columns and insert the into dataframe
df1.insert(loc=10, column='reb_total', value=(df1['setup2'] + df1['construct2'] + df1['reduce2']))
df1.insert(loc=11, column='upd_total', value=(df1['setup2'] + df1['construct2'] + df1['update']))
df1.head()

,std,n_points,dimension,setup1,construct1,reduce1,setup2,construct2,reduce2,update,reb_total,upd_total,nnz_old_U,nnz_reb_U,nnz_upd_U,nnz_old_R,nnz_reb_R,nnz_upd_R
0,0.001,20,2,0.000084,0.000213,0.000867,0.000059,0.000174,0.000764,0.000491,0.000998,0.000725,5435,5435,5435,462,462,462
1,0.001,20,2,0.000057,0.000166,0.000611,0.000053,0.000167,0.000603,0.000365,0.000823,0.000586,5435,5435,5435,462,462,462
2,0.001,20,2,0.000115,0.000165,0.000610,0.000053,0.000165,0.000599,0.000363,0.000817,0.000582,5435,5435,5435,462,462,462
3,0.001,20,2,0.000059,0.000166,0.000602,0.000052,0.000172,0.000596,0.000366,0.000820,0.000591,5435,5435,5435,462,462,462
4,0.001,20,2,0.000053,0.000164,0.000607,0.000052,0.000165,0.000592,0.000367,0.000809,0.000585,5435,5435,5435,462,462,462

In [5]:
df1.insert(loc=12, column='nnz_reb', value=(df1['nnz_reb_R'] + df1['nnz_reb_U']))
df1.insert(loc=13, column='nnz_upd', value=(df1['nnz_upd_R'] + df1['nnz_upd_U']))

### Update metric from Euclidean to Minkowski 1

In [47]:
df2 = pd.read_csv('noisy_circle_update_metric_euc_to_minkow1.csv')
# insert columns 
df2.insert(loc=10, column='reb_total', value=(df2['setup2'] + df2['construct2'] + df2['reduce2']))
df2.insert(loc=11, column='upd_total', value=(df2['setup2'] + df2['construct2'] + df2['update']))
# group them
a = df2.groupby(['std','n_points','dimension']).mean()
a

                            setup1  construct1    reduce1    setup2  \
std   n_points dimension
0.005 100      2          0.000212    0.030085   0.335823  0.000153
               3          0.000227    0.972687  23.575383  0.000175

                          construct2   reduce2     update  reb_total  \
std   n_points dimension
0.005 100      2            0.019418  0.179191   0.293341   0.198762
               3            0.544418  6.890051  21.254431   7.434643

                          upd_total  nnz_old_U  nnz_reb_U  nnz_upd_U  \
std   n_points dimension
0.005 100      2           0.312912    2477549    1438095    1445668
               3          21.799024   82999518   30485387   54435336

                          nnz_old_R  nnz_reb_R  nnz_upd_R
std   n_points dimension
0.005 100      2              13879      12057      21532
               3             582066     353571     678444

In [20]:
# dataframe also provides 
a[['reb_total', 'upd_total']]

                          reb_total  upd_total
std   n_points dimension
0.005 100      2           0.198762   0.312912
               3           7.434643  21.799024

### Comparison in BATs with Flag

In [23]:
df3 = pd.read_csv('bats_flag_compare_to_updating.csv')
df3.groupby(['std','n_points','dimension']).mean()

                          standard_basis  standard_no_basis  clearing  \
std   n_points dimension
0.001 100      2                0.388332           0.208164  0.206494
               3               11.939154           6.480755  6.241965
0.005 100      2                0.500734           0.255261  0.253894
               3               12.085571           6.839052  6.528163

                          compression     update
std   n_points dimension
0.001 100      2             0.202591   0.202414
               3             5.166033   4.408238
0.005 100      2             0.227085   0.222980
               3             5.417669  12.887104

### Comarison with other packages
Be care the column 'topologylayer' is sometimes 0, because we do not compute it for its slowness.

In [31]:
import pandas as pd
df = pd.read_csv('sphere_record100_H1.csv')
df.mean()

n_points             100.000000
dimension              2.000000
std                    0.001000
standard_basis         0.435853
standard_no_basis      0.237171
clearing               0.234364
compression            0.224796
update                 0.196185
topologylayer          0.000000
gudhi                  0.050523
dionysus               0.739139
ripser                 0.011950
dtype: float64

In [30]:
import pandas as pd
df = pd.read_csv('sphere_record100_H2.csv')
df.mean()

n_points             100.000000
dimension              3.000000
std                    0.001000
standard_basis        20.444866
standard_no_basis     10.604927
clearing              10.223926
compression            7.666793
update                 6.819714
topologylayer          0.000000
gudhi                  2.302266
dionysus              32.241005
ripser                 0.167025
dtype: float64

## Optimization of Rips

In [54]:
import pandas as pd
df5 = pd.read_csv('opt_enc_rips.csv')
df5.mean()

std_basis          1.654738e-01
std_no_basis       9.742736e-02
std_clearing       9.936113e-02
std_compression    8.876377e-02
update             8.898671e-02
nnz_basis          9.936110e+03
nnz_no_basis       9.936110e+03
nnz_clear          9.936110e+03
nnz_compress       9.084590e+03
nnz_upd            1.019792e+06
dtype: float64

## Bunny

In [18]:
import pandas as pd
df = pd.read_csv('bunny_record400_H1.csv')
df.mean()

standard_basis       61.121096
standard_no_basis    28.483642
clearing             28.419567
compression          24.012001
update               25.269536
topologylayer         0.000000
gudhi                 4.493279
dionysus              0.000000
ripser                0.084670
dtype: float64

## Dragon

In [17]:
import pandas as pd
df = pd.read_csv('dragon_record400_H1.csv')
df.mean()

standard_basis       47.999819
standard_no_basis    20.305988
clearing             20.256985
compression          16.078695
update               19.024916
topologylayer         0.000000
gudhi                 2.524282
dionysus              0.000000
ripser                0.075093
dtype: float64

## H3N2

In [18]:
import pandas as pd
df = pd.read_csv('H3N2_record.csv')
df.mean()

standard_basis       9.192027
standard_no_basis    5.758595
clearing             5.685480
compression          5.153021
update               5.714532
topologylayer        0.000000
gudhi                2.698835
dionysus             0.000000
ripser               3.442184
dtype: float64

In [12]:
import pandas as pd
df = pd.read_csv('H3N2_record200.csv') # compute up to H2
df.mean()

standard_basis       158.971069
standard_no_basis    105.904937
clearing             104.999920
compression           97.100792
update               117.541906
topologylayer          0.000000
gudhi                 57.221182
dionysus               0.000000
ripser                65.230054
dtype: float64

In [16]:
import pandas as pd
df = pd.read_csv('H3N2_record200_H1.csv') # compute up to H1
df.mean()

standard_basis       2.503682
standard_no_basis    1.552463
clearing             1.540656
compression          1.621170
update               1.867409
topologylayer        0.000000
gudhi                0.599829
dionysus             0.000000
ripser               0.019629
dtype: float64

In [20]:
import pandas as pd
df = pd.read_csv('H3N2_record400_H1.csv') # compute up to H1
df.mean()

standard_basis       28.350523
standard_no_basis    17.626974
clearing             17.508533
compression          18.053020
update               20.766845
topologylayer         0.000000
gudhi                 6.571999
dionysus              0.000000
ripser                0.082798
dtype: float64

## Klein

In [11]:
df = pd.read_csv('klein_record.csv')
df.mean()

standard_basis       4.101115
standard_no_basis    2.665651
clearing             2.547773
compression          2.389811
update               3.202638
topologylayer        0.000000
gudhi                1.211843
dionysus             0.000000
ripser               1.679999
dtype: float64

In [24]:
df = pd.read_csv('klein_record100_H2.csv')
df.mean()

standard_basis       4.892279
standard_no_basis    2.921320
clearing             2.805372
compression          2.493932
update               2.532544
topologylayer        0.000000
gudhi                0.994829
dionysus             0.000000
ripser               0.078464
dtype: float64