## This notebook will do statistics analysis based on our experiment using Pandas

In [7]:
import numpy as np

In [8]:
import pandas as pd
df1 = pd.read_csv('noisy_circle_2D_3D_change_std.csv')
df2 = pd.read_csv('noisy_circle_update_metric_euc_to_minkow1.csv')
df3 = pd.read_csv('bats_flag_compare_to_updating.csv')
df4 = pd.read_csv('bats_comp_other_package.csv')

### Noisy circle with different size

In [2]:
# sum over several columns and insert the into dataframe
df1.insert(loc=10, column='reb_total', value=(df1['setup2'] + df1['construct2'] + df1['reduce2']))
df1.insert(loc=11, column='upd_total', value=(df1['setup2'] + df1['construct2'] + df1['update']))
df1.head()

,std,n_points,dimension,setup1,construct1,reduce1,setup2,construct2,reduce2,update,reb_total,upd_total,nnz_old_U,nnz_reb_U,nnz_upd_U,nnz_old_R,nnz_reb_R,nnz_upd_R
0,0.001,20,2,0.000084,0.000213,0.000867,0.000059,0.000174,0.000764,0.000491,0.000998,0.000725,5435,5435,5435,462,462,462
1,0.001,20,2,0.000057,0.000166,0.000611,0.000053,0.000167,0.000603,0.000365,0.000823,0.000586,5435,5435,5435,462,462,462
2,0.001,20,2,0.000115,0.000165,0.000610,0.000053,0.000165,0.000599,0.000363,0.000817,0.000582,5435,5435,5435,462,462,462
3,0.001,20,2,0.000059,0.000166,0.000602,0.000052,0.000172,0.000596,0.000366,0.000820,0.000591,5435,5435,5435,462,462,462
4,0.001,20,2,0.000053,0.000164,0.000607,0.000052,0.000165,0.000592,0.000367,0.000809,0.000585,5435,5435,5435,462,462,462

In [3]:
# only look at rows with dimension at 2 and number of points == 20 and std == 0.001
a = df1.loc[(df1['dimension'] == 2) &(df1['n_points'] == 20) & (df1['std'] == 0.001)]
# then compute the mean
a.mean(axis = 0)

std              0.001000
n_points        20.000000
dimension        2.000000
setup1           0.000073
construct1       0.000168
reduce1          0.000621
setup2           0.000053
construct2       0.000167
reduce2          0.000604
update           0.000370
reb_total        0.000824
upd_total        0.000590
nnz_old_U     5435.000000
nnz_reb_U     5435.000000
nnz_upd_U     5435.000000
nnz_old_R      462.000000
nnz_reb_R      462.000000
nnz_upd_R      462.000000
dtype: float64

In [4]:
# We can also easily see the average information by group them together
df1.groupby(['std','n_points','dimension']).mean()

                            setup1  construct1   reduce1    setup2  \
std   n_points dimension
0.001 20       2          0.000073    0.000168  0.000621  0.000053
               3          0.000064    0.000445  0.002493  0.000069
      40       2          0.000074    0.001412  0.010554  0.000057
               3          0.000142    0.010044  0.156399  0.000106
      50       2          0.000096    0.002904  0.023526  0.000072
0.005 20       2          0.000063    0.000165  0.000592  0.000053
               3          0.000065    0.000499  0.002925  0.000071
      40       2          0.000075    0.001191  0.007002  0.000058
               3          0.000145    0.010689  0.189953  0.000109
      50       2          0.000093    0.002503  0.025822  0.000073
0.010 20       2          0.000065    0.000163  0.000686  0.000055
               3          0.000068    0.000414  0.002182  0.000068
      40       2          0.000074    0.001150  0.008687  0.000058
               3          0.000145    0.011897  0.161428  0.000110
      50       2          0.000099    0.002911  0.032133  0.000074
0.050 20       2          0.000061    0.000205  0.000848  0.000057
               3          0.000066    0.000497  0.003022  0.000070
      40       2          0.000075    0.001484  0.011801  0.000058
               3          0.000139    0.011495  0.184954  0.000109
      50       2          0.000089    0.002783  0.021443  0.000069
0.100 20       2          0.000060    0.000191  0.000876  0.000057
               3          0.000062    0.000371  0.001732  0.000066
      40       2          0.000075    0.001251  0.009445  0.000058
               3          0.000142    0.006617  0.066643  0.000097
      50       2          0.000088    0.002972  0.024606  0.000069
0.500 20       2          0.000084    0.000189  0.000798  0.000058
               3          0.000065    0.000448  0.002493  0.000069
      40       2          0.000075    0.001397  0.011127  0.000058
               3          0.000141    0.011537  0.146779  0.000110
      50       2          0.000088    0.002945  0.024407  0.000069
1.000 20       2          0.000101    0.000169  0.000598  0.000054
               3          0.000068    0.000488  0.002390  0.000070
      40       2          0.000076    0.001412  0.013065  0.000058
               3          0.000140    0.011346  0.135946  0.000109
      50       2          0.000091    0.002933  0.020226  0.000069

                          construct2   reduce2    update  reb_total  \
std   n_points dimension
0.001 20       2            0.000167  0.000604  0.000370   0.000824
               3            0.000449  0.002373  0.001141   0.002891
      40       2            0.001424  0.010619  0.004878   0.012100
               3            0.010632  0.159419  0.056207   0.170157
      50       2            0.002897  0.023347  0.010303   0.026316
0.005 20       2            0.000161  0.000566  0.000364   0.000780
               3            0.000520  0.002934  0.001677   0.003526
      40       2            0.001224  0.007325  0.004727   0.008607
               3            0.011860  0.199169  0.092651   0.211137
      50       2            0.002551  0.026009  0.011799   0.028632
0.010 20       2            0.000173  0.000737  0.000551   0.000964
               3            0.000431  0.002290  0.001404   0.002790
      40       2            0.001283  0.009730  0.006800   0.011071
               3            0.012037  0.158857  0.070329   0.171004
      50       2            0.002876  0.031714  0.015912   0.034664
0.050 20       2            0.000171  0.000704  0.000655   0.000932
               3            0.000505  0.003004  0.002288   0.003580
      40       2            0.001222  0.008247  0.006372   0.009527
               3            0.008215  0.092706  0.080212   0.101031
      50       2            0.002145  0.015426  0.011945   0.017640
0.100 20       2            0.000170  0.000701  0.000779   0.000927
               3            0.000354  0.001396  0.001286   0.001816
      40       2            0.000897  0.004703  0.005068   0.005659
               3            0.007632  0.095125  0.210396   0.102854
      50       2            0.002073  0.015662  0.014937   0.017804
0.500 20       2            0.000146  0.000544  0.001087   0.000748
               3            0.000225  0.000742  0.002127   0.001036
      40       2            0.001102  0.007616  0.020055   0.008776
               3            0.006105  0.030704  0.165966   0.036920
      50       2            0.001728  0.012029  0.034010   0.013826
1.000 20       2            0.000174  0.000656  0.001414   0.000884
               3            0.000410  0.001470  0.003832   0.001949
      40       2            0.001054  0.005916  0.025036   0.007028
               3            0.005672  0.030342  0.206994   0.036123
      50       2            0.002219  0.019070  0.040905   0.021358

                          upd_total  nnz_old_U  nnz_reb_U  nnz_upd_U  \
std   n_points dimension
0.001 20       2           0.000590       5435       5435       5435
               3           0.001659      19383      18324      18325
      40       2           0.006360     100384     100433     100433
               3           0.066944     988072     999738     997684
      50       2           0.013272     219142     218426     218549
0.005 20       2           0.000578       5084       4941       4942
               3           0.002269      22416      22481      22951
      40       2           0.006009      71498      74845      74180
               3           0.104620    1247366    1191895    1310895
      50       2           0.014423     235265     236931     240959
0.010 20       2           0.000778       5996       6668       6668
               3           0.001904      16987      17790      17861
      40       2           0.008141      87269      97017     102944
               3           0.082477    1113160    1086990    1069624
      50       2           0.018862     278030     267400     270255
0.050 20       2           0.000883       7851       6286       6212
               3           0.002863      23574      23438      22540
      40       2           0.007651     105150      74154      79712
               3           0.088537    1199623     659625     629626
      50       2           0.014159     213524     141885     146734
0.100 20       2           0.001006       8195       6396       6582
               3           0.001706      13645      10937      12660
      40       2           0.006024      92404      46136      47459
               3           0.218125     504495     664502     743407
      50       2           0.017079     223490     143562     141837
0.500 20       2           0.001291       7571       4421       5505
               3           0.002421      19467       4956       6286
      40       2           0.021215     102215      67061     118169
               3           0.172182     995362     230028     381177
      50       2           0.035807     226567     106737     175259
1.000 20       2           0.001642       5261       5844       6794
               3           0.004312      18645      11353      13207
      40       2           0.026149     121023      56834     112120
               3           0.212774     967808     230333     337851
      50       2           0.043193     202147     167451     214279

                          nnz_old_R  nnz_reb_R  nnz_upd_R
std   n_points dimension
0.001 20       2                462        462        462
               3               2662       2612       2613
      40       2               2158       2158       2158
               3              29293      29411      29432
      50       2               3412       3408       3409
0.005 20       2                458        454        455
               3               2820       2873       2910
      40       2               2031       2046       2053
               3              30206      31100      31470
      50       2               3272       3293       3308
0.010 20       2                455        470        472
               3               2464       2520       2549
      40       2               2013       2100       2114
               3              31906      31247      31554
      50       2               3430       3399       3441
0.050 20       2                504        476        491
               3               2819       2791       3032
      40       2               2204       2036       2245
               3              31496      24076      26481
      50       2               3348       3017       3217
0.100 20       2                504        469        530
               3               2152       1987       2089
      40       2               2072       1722       1954
               3              22329      23718      28579
      50       2               3439       2943       3643
0.500 20       2                500        411        497
               3               2679       1369       1536
      40       2               2145       1883       3557
               3              31740      19561      26678
      50       2               3440       2601       3723
1.000 20       2                470        456        534
               3               2726       2190       2382
      40       2               2155       1831       2763
               3              31167      18674      26626
      50       2               3427       2998       4346

### Update metric from Euclidean to Minkowski 1

In [9]:
# insert columns 
df2.insert(loc=10, column='reb_total', value=(df2['setup2'] + df2['construct2'] + df2['reduce2']))
df2.insert(loc=11, column='upd_total', value=(df2['setup2'] + df2['construct2'] + df2['update']))
# group them
a = df2.groupby(['std','n_points','dimension']).mean()
a

                            setup1  construct1    reduce1    setup2  \
std   n_points dimension
0.005 100      2          0.000212    0.030085   0.335823  0.000153
               3          0.000227    0.972687  23.575383  0.000175

                          construct2   reduce2     update  reb_total  \
std   n_points dimension
0.005 100      2            0.019418  0.179191   0.293341   0.198762
               3            0.544418  6.890051  21.254431   7.434643

                          upd_total  nnz_old_U  nnz_reb_U  nnz_upd_U  \
std   n_points dimension
0.005 100      2           0.312912    2477549    1438095    1445668
               3          21.799024   82999518   30485387   54435336

                          nnz_old_R  nnz_reb_R  nnz_upd_R
std   n_points dimension
0.005 100      2              13879      12057      21532
               3             582066     353571     678444

In [20]:
# dataframe also provides 
a[['reb_total', 'upd_total']]

                          reb_total  upd_total
std   n_points dimension
0.005 100      2           0.198762   0.312912
               3           7.434643  21.799024

### Comparison in BATs with Flag

In [23]:
df3.groupby(['std','n_points','dimension']).mean()

                          standard_basis  standard_no_basis  clearing  \
std   n_points dimension
0.001 100      2                0.388332           0.208164  0.206494
               3               11.939154           6.480755  6.241965
0.005 100      2                0.500734           0.255261  0.253894
               3               12.085571           6.839052  6.528163

                          compression     update
std   n_points dimension
0.001 100      2             0.202591   0.202414
               3             5.166033   4.408238
0.005 100      2             0.227085   0.222980
               3             5.417669  12.887104

### Comarison with other packages
Be care the column 'topologylayer' is sometimes 0, because we do not compute it for its slowness.

In [26]:
df4.groupby(['dataset']).mean()

,standard_basis,standard_no_basis,clearing,compression,update,topologylayer,gudhi,dionysus,ripser
dataset,,,,,,,,,
sphere-0.001-100-2,0.473274,0.249978,0.248739,0.223533,0.191008,0.000000,0.048271,0.831861,0.128276
sphere-0.001-100-3,22.446819,11.879762,11.573582,9.013763,6.119104,0.000000,2.665015,37.644844,3.690440
sphere-0.001-20-2,0.001114,0.000754,0.000772,0.000793,0.000634,0.338933,0.000416,0.001571,0.001043
sphere-0.001-20-3,0.004088,0.002852,0.002619,0.002769,0.002125,0.000000,0.001540,0.005881,0.002595
sphere-0.001-50-2,0.028764,0.016105,0.016023,0.015380,0.010702,0.000000,0.004923,0.051097,0.013240
sphere-0.001-50-3,0.403807,0.238793,0.224360,0.193101,0.174106,0.000000,0.068362,0.655535,0.123840